@import "tailwindcss";

:root {
    --background: #f3f4f6;
  --foreground: #1f2937;
}

@media (prefers-color-scheme: dark) {
  :root {
  --background: #f3f4f6;
  --foreground: #1f2937;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
